{
    "plugins": ["@trivago/prettier-plugin-sort-imports","prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["clsx", "tw"],
    "importOrder": ["^@/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
  }